# Node
node_modules/

# Next.js / frontend
frontend/.next/
frontend/node_modules/

# Nest.js / backend
backend/dist/
backend/node_modules/

# SQLite database local
.dev.db

# Environment files
.env
.env.*.local

# Logs
*.log
logs/

# OS files
.DS_Store

# IDEs / editors
.vscode/
.idea/
*.sublime-workspace

# Coverage / test output
coverage/
.nyc_output/
